In [7]:
import copy as c

In [8]:
str(23.43).split(".")

['23', '43']

In [9]:
a = ["he", "she", "was", "ok"]
' '.join(a)

'he she was ok'

In [10]:
list_1 = [1, 2, 3, 4]
list_2 = list_1
list_3 = list(list_1)
list_4 = c.copy(list_1)
list_5 = list_1[:]

In [11]:
list_1[0] = "Hello World!"

In [12]:
print(list_1, list_2, list_3, list_4, list_5)

['Hello World!', 2, 3, 4] ['Hello World!', 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4]

In [15]:
li = []
li.append([1, [2, 3], 4])
print(li)
li.extend([7, 6, 8])
print(li)
print(li[0][1][1] + li[1])

[[1, [2, 3], 4]]
[[1, [2, 3], 4], 7, 6, 8]
10

In [21]:
T1 = (1,)

In [22]:
T2 = (3, 4)

In [23]:
T1 += 5

TypeError: can only concatenate tuple (not "int") to tuple

In [19]:
print(T1)

6

In [20]:
print(T1 + T2)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'